<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
  	<classes>
  		<class name="TestRunner.HomePageTestRunner"></class>
  	</classes>
  </test>
  <test name="Test2">
  	<classes>
  		<class name="TestRunner.FunctionalityTestRunner"></class>
  	</classes>
  </test>
  <test name="Test3">
  	<classes>
  		<class name="TestRunner.Functionality2TestRunner"></class>
  	</classes>
  </test>
  <test name="Test4">
  	<classes>
  		<class name="TestRunner.Functionality3TestRunner"></class>
  	</classes>
  </test>
  <test name="Test5">
  	<classes>
  		<class name="TestRunner.Functionality4TestRunner"></class>
  	</classes>
  </test>
  <test name="Test6">
  	<classes>
  		<class name="TestRunner.Functionality5TestRunner"></class>
  	</classes>
  </test>
</suite> <!-- Suite -->
